@using Microsoft.AspNetCore.Identity
@using TMS.Roles;

@inject SignInManager<UserDB> SignInManager
@inject UserManager<UserDB> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-image: url('/Images/oldbackground.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        header {
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        @@font-face {
            font-family: 'White Storm';
            src: url('/Fonts/White Storm.otf')
        }

        .navbar {
            list-style-type: none;
            padding: 13px;
            overflow: hidden;
            background-image: url('/Images/background.jfif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 10%;
        }

        .navlink {
            float: left;
            color: #3a2613;
            padding: 9px;
            font-size: 30px;
            font-family: 'White Storm';
            text-decoration: none;
        }

            .navlink:hover {
                transform: scale(1.2);
                color: #ad7138;
            }

            .navlink:active {
                color: black;
            }

    </style>

    <link rel="stylesheet" href="~/TMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

    <header>
        <ul class="navbar">
            <li>
                <a class="navlink" asp-area="Guest" asp-controller="GuestViews" asp-action="Home">Home</a>
            </li>
            <li>
                <a class="navlink" asp-area="Guest" asp-controller="GuestViews" asp-action="Books">Books</a>
            </li>

            @if (User.IsInRole(TheRoles._Admin))
            {
                <li>
                    <a class="navlink" asp-area="Admin" asp-controller="TMS" asp-action="Manage">Manage</a>
                </li>
            }

            @await Component.InvokeAsync("ShoppingCart")

            @if (User.IsInRole(TheRoles._Admin))
            {
                <li>
                    <a class="navlink" asp-area="User" asp-controller="CartActions" asp-action="History">History</a>
                </li>
            }

            @if (SignInManager.IsSignedIn(User))
            {
                <li style="float: right;">
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <button type="submit" class="navlink" style="background:none; border:none; cursor: pointer;">Log out</button>
                    </form>
                </li>
                <li style="float: right;">
                    <a class="navlink" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-solid fa-user"></i> @UserManager.GetUserName(User)</a>
                </li>
            }
            else
            {
                <li style="float: right;">
                    <a class="navlink" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li style="float: right;">
                    <a class="navlink" asp-area="Identity" asp-page="/Account/Login">Log in</a>
                </li>
            }
        </ul>

    </header>
    <p style="padding-bottom: 90px;"></p>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer style="padding: 20px;">
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
