@page
@model DeleteAccountModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Delete account -";
    ViewData["ActivePage"] = ManageNavPages.DeleteAccount;
}

<html lang="en">
<head>
    <style>

        .form {
            font-family: 'Times New Roman';
            font-size: 25px;
            font-weight: bold;
            padding: 15px;
            margin-left: 10px;
            position: relative;
        }

        .tempdata {
            color: #cc3300;
            font-family: 'White Storm';
            font-size: 35px;
            position: absolute;
            margin-left: 150px;
            top: 110px;
        }

        .button {
            border: 4px solid #3a2613;
            background-color: #cc3300;
            padding: 15px;
            font-family: 'White Storm';
            color: #3a2613;
            font-size: 30px;
            position: absolute;
            top: 100px;
        }

            .button:hover {
                opacity: 0.7;
            }

    </style>

</head>

<body>

    <form class="form" method="post">
        <label for="thepassword">Insert password:</label><br />
        <input type="password" id="thepassword" asp-for="Input.Password" size="50" required />
        <br /><br />

        <span class="tempdata">@TempData["Fail"]</span>

        <input type="submit" class="button" value="Delete" />
    </form>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

