@page
@model ChangePasswordModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Change password -";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<html lang="en">
<head>
    <style>

        .form {
            display: block;
            font-family: 'Times New Roman';
            font-size: 25px;
            font-weight: bold;
            padding: 15px;
            margin-left: 10px;
            position: relative;
        }

        .tempdata {
            color: #cc3300;
            font-family: 'White Storm';
            font-size: 35px;
            position: absolute;
            margin-left: 150px;
            top: 280px;
        }

        .button {
            border: 4px solid #3a2613;
            background-color: #668cff;
            padding: 15px;
            font-family: 'White Storm';
            color: #3a2613;
            font-size: 30px;
            position: absolute;
            top: 270px;
            margin-left: 0px;
        }

            .button:hover {
                opacity: 0.7;
            }

    </style>

</head>

<body>

    <form class="form" method="post">
        <label for="oldpassword">Old password:</label><br />
        <input type="password" id="oldpassword" asp-for="Input.OldPassword" size="50" required />
        <br /><br />

        <label for="newpassword">New password:</label><br />
        <input type="password" id="newpassword" asp-for="Input.NewPassword" size="50" required />
        <br /><br />


        <label for="confirmpassword">Confirm password:</label><br />
        <input type="password" id="confirmpassword" asp-for="Input.ConfirmPassword" size="50" required />
        <br /><br />

        <span class="tempdata" style="color: #009900;">@TempData["ChangedSuccessfully"]</span>
        <span class="tempdata" style=" word-break: break-all;">@TempData["ChangedFailed"]</span>

        <input type="submit" class="button" value="Update" />
    </form>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
